.venv/
__pycache__/
*.pyc
.DS_Store
*.log
.idea/
.vscode/
*.ckpt
*.safetensors
*.pt
train/output/
train/output/*
!train/output/.gitkeep
models/
data/raw/
data/processed/
data/labeled/
.env
*.tgz
*.tar.gz
*.zip
*.ipynb_checkpoints/
